@import "tailwindcss";
@import "./fonts.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-IRANSansX: IRANSansX;

  --color-dark-body: #101828;
  --color-primary-dark: #1e2939;

  --breakpoint-xs: 420px;
  --breakpoint-sm: 576px;
}

body {
  @apply font-IRANSansX! dark:bg-dark-body dark:text-white overflow-x-hidden;
}

@utility container {
  @apply w-[90%] md:w-full mx-auto;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-itc {
  @apply flex items-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility primary-border {
  @apply border border-gray-200 dark:border-gray-700;
}

@utility primary-border-t {
  @apply border-t border-gray-200 dark:border-gray-700;
}

@utility primary-border-b {
  @apply border-b border-gray-200 dark:border-gray-700;
}

@utility primary-border-r {
  @apply border-r border-gray-200 dark:border-gray-700;
}

@utility primary-border-l {
  @apply border-l border-gray-200 dark:border-gray-700;
}

@utility hover-style {
  @apply hover:bg-gray-200 dark:hover:bg-gray-700 p-2 rounded-lg cursor-pointer transition duration-200;
}

.bg-gradient {
  @apply bg-linear-to-r from-sky-500 to-indigo-500;
}

.button {
  @apply primary-border py-2 px-4 rounded-lg cursor-pointer text-white hover:opacity-75 duration-200;
}

.footer-title {
  @apply text-xl font-bold
}

.footer-text {
  @apply text-sm mt-3 text-gray-300
}
